@model InvoiceManagenent.DTOs.CustomerDto
@{
    ViewData["Title"] = "Create Customer";
}

<div class="container mt-4">
    <h2>@ViewData["Title"]</h2>
    <hr />

    <form asp-action="Create" method="post">
        <div class="mb-3">
            <label asp-for="CustomerName" class="form-label"></label>
            <input asp-for="CustomerName" class="form-control" />
            <span asp-validation-for="CustomerName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="PhoneNumber" class="form-label"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>


        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success">Create</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
